body {
  padding: 20px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

.counter,
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  margin-bottom: 10px;
}

.counter > .count {
  min-width: 100px;
  text-align: center;
}

.counter > .btn {
  border-radius: 0;
}
